<div class="container-fluid mt-2">
    <div class="row">
      <div class="col-2">
        <div class="nav flex-column nav-pills" role="tablist" aria-orientation="vertical">
          <a class="nav-link" routerLink= 'category' routerLinkActive="active dark">Категорії</a>
          <a class="nav-link" routerLink= 'product' routerLinkActive="active dark">Продукти</a>
          <a class="nav-link" routerLink= 'discount' routerLinkActive="active dark">Акції</a>
          <a class="nav-link" routerLink= 'order' routerLinkActive="active dark">Замовлення</a>
        </div>
      </div>
      <div class="col-10">
        <div class="tab-content">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
