<div class="container-fluid">
    
    <div class="row  d-flex justify-content-center">
        
            <div class="col-md-12 mt-5">
              <div class="sectionTitle fadeInTop hidden-xs">
                <h1 class="h1 as">Акції</h1>
                <div class="emptySpace60 emptySpace-lt40 emptySpace-md30"></div>
              </div>
            </div>
          
        <div class="card col-4" *ngFor="let discount of userDiscount ">
            <img class="card-img-top" [src]="discount.image" alt="Card image cap"[routerLink]="[ '/discount', discount.title ]">
            <div class="card-body">
                <h5 class="card-title">{{ discount.title }}</h5>
                
                <a class="button add-to-cart-product mt-2" [routerLink]="[ '/discount', discount.title ]">Скористатися</a>
            </div>
        </div>
    </div>
</div>