<div class="container mt-2">
    <div class="row">
        <div class="card col-4 m-auto text-center">
            <img class="card-img-top" [src]="blog?.image">
            <div class="card-body">
                <p class="card-text text-primary">{{ blog?.date|date:'mediumDate' }} {{blog?.postedBy}}</p>
                <h5 class="card-title">{{ blog?.title }}</h5>
                <p class="card-text">{{ blog?.text }}</p>
                <a class="btn btn-danger" (click)="goBack()">Back</a>
            </div>
        </div>
    </div>
</div>